body{
    width: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	background-color: #56e1e6;
}

header{
    width: 70%;
    height: 130px;
    background-color: #f0f355;
    margin: 0 auto;
    border-radius: 10px;
}

.menu{
    width: 80px;
    height: 10px;
}

h2{
    font-family: 'Pacifico', cursive;
	margin: 5px;
	color: #474955;
    padding-top:20px; 
    padding-left:20px ;
}

nav{
	width: 48%;
	height:20px;
	float: right;
}

nav ul{
	list-style: none;
}

nav ul li{
	float: left;
	padding: 5px 5px;
	width: 70px;
}

nav ul li a{
	text-align: center;
	text-decoration: none;
	padding: 5px;
	font-family: 'Pacifico', cursive;
}

nav ul li a:hover{
	background-color: #ecf0f1;
	border-radius: 5px;
}

.tengah{
    width: 70%;
    height: 600px;
    background-color: #f0f355;
    margin: 20px auto;
    border-radius: 10px;
}

.isi{
    width: 600px;
    height: 450px;
    padding: 60px 100px 120px 160px;
}

footer{
    width: 70%;
    height: 45px;
    background-color: #f0f355;
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    border-radius: 10px;
}