body{
	width: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: #474955;
}

header{
	width: 100%;
	height: 75px;
	background-color: #ecf0f1;
}

.tengah{
	width: 960px;
	height: 100%;
	margin: 0 auto;
}

.namawebsite{
	width: 30%;
	height: 75px;
	float: left;
	background-color:#ecf0f1;
}

h1{
	font-family: 'Pacifico', cursive;
	margin: 5px;
	color: #474955;
	padding-left: 20px;
}

nav{
	width: 30%;
	height:75px;
	float: right;
	/*background-color: red;*/
}

nav ul{
	list-style: none;
}

nav ul li{
	float: left;
	padding: 10px;
	width: 50px;
}

nav ul li a{
	text-align: center;
	text-decoration: none;
	padding: 10px;
	font-family: "Roboto", sans-serif;
}

nav ul li a:hover{
	background-color: #ecf0f1;
	border-radius: 5px;
}

li ul{
	display: none;
	margin-left: -50px;
	margin-top: 10px;
}

li ul li{
	float: none;
}

li:hover ul{
	display: block;
	width: 150px;
	background-color: #ecf0f1;
	border-radius: 5px;
	z-index: 9999;
	position: relative;
	right: -50px;
}

li a:hover{
	color: #5acbe3;
}

#slide{
	width: 100%;
	height: 500px;
	background-color: #474955;
}

#portfolio{
	width: 100%;
	height: 300px;
	background-color: #ecf0f1;
	padding: 100px 0;
	position: relative;
}

.kotak{
	width: 350px;
	height: 300px;
	float: left;
	padding-left: 10px;
}

.kotak1{
	width: 320px;
	height: 100px;
	text-align: center;
	padding: 10px 20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	color: #474955;
}



footer{
	width: 100%;
	height: 45px;
	background-color: #474955;
	color: #ecf0f1;
	font-family: 'Roboto', sans-serif;
	text-align: left;
	padding-top: 25px;
}
.paget{
	width: 100%;
	height: 75px;
	background-color: #474955;
}

h4{
	margin: 0;
	color: #ecf0f1;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 25px;
	padding-top: 20px;
}

#about{
	width: 100%;
	height: 1250px;
	background-color: #ecf0f1;
	padding-right: 20px;
}

#blog{
	width: 100%;
	height: 500px;
	background-color: #ecf0f1;
}

#contak{
	width: 100%;
	height: 500px;
	background-color: #ecf0f1;
}

.te{
	width: 48%;
	height: 79%;
	margin: 0 auto;
	/*background-color: #db6b71;*/
	float: left;
	padding: 5% 1%;
	overflow: hidden;
}

#galeri{
	width: 100%;
	height: 200px;
	background-color: #222222;
}

i{
	color: #474955;
	font-size: 150px;
}

h3{
	text-align: center;
}

p{
	font-family: 'Roboto',sans-serif;
}
img{
	width: 100%;
	height: 100%;
}

/* .rslides {
  margin: 0 auto 40px;
 } */
/* 
.callbacks_container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
} */


/* .callbacks .caption {
  display: block;
  position: absolute;
  z-index: 2;
  font-size: 20px;
  text-shadow: none;
  color: #fff;
  background: #000;
  background: rgba(0,0,0, .8);
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px 20px;
  margin: 0;
  max-width: none;
  } */